body{
  margin: 0;
  color: white;
  background: linear-gradient(45deg, purple,rgb(218, 38, 218));
  overflow-x: hidden;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}